In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
!ls

LineChart.csv                p4-d2.csv
area                         p4-final.csv
area.csv                     p4-script.py
bubblechart.json             preprocessing_notebook.ipynb
choropleth_data.csv          sankey-data.json
cities.csv                   stacked-bar-chart.csv
demo.csv                     stacked-bar-chart.json
diabetes.csv                 stacked-bar-chart3.csv
heart-disease.csv            stacked.json
heatmap.json                 tabledata.json
p1-d1.csv                    tb-data.csv
p2-d1.csv                    us.json
p2-d2.csv                    usmap.json
p4-d1.csv

In [36]:
file = pd.read_csv('tb-data.csv', header=None)

In [37]:
file[0]

0                     Utah ' 100.0 100.0
1                New Mexico ' 100.0 97.1
2                 Oklahoma ' 100.0 96.2
3     District of Columbia ' 100.0 92.6
4                    Maine ' 100.0 91.7
5                Wisconsin ' 100.0 89.5
6                    Kansas ' 83.3 94.3
7                  Nebraska ' 0.0 100.0
8                   Delaware ' 0.0 89.5
9                  Baltimore ' 0.0 88.2
10               North Dakota ' 0.0 70.0
11             Connecticut ' 100.0 98.0
12                  Nevada ' 100.0 96.9
13           South Carolina ' 100.0 96.9
14                 Indiana ' 100.0 94.4
15               Minnesota ' 100.0 94.2
16                   Hawaii ' 90.0 99.2
17                   Oregon ' 87.5 96.5
18                   Alaska ' 85.7 94.4
19            San Francisco ' 83.3 85.9
20                 Kentucky ' 80.0 96.7
21                  Alabama ' 80.0 94.6
22              Mississippi ' 80.0 89.1
23                 Michigan ' 75.0 98.8
24                 Arkansas ' 75.0 83.6
25                   Chicago ' 72.7 93.1
26              Philadelphia ' 66.7 67.8
27                Louisiana ' 50.0 85.4
28                 Missouri ' 33.3 86.5
29                   Colorado ' 0.0 96.2
30          North Carolina ' 100.0 97.5
31                Virginia ' 100.0 95.9
32                New York ' 100.0 95.1
33              New Jersey ' 100.0 95.0
34                    Ohio ' 100.0 94.0
35           Massachusetts ' 100.0 91.8
36                Maryland ' 100.0 91.3
37              Los Angeles ' 94.1 94.1
38            New York City ' 93.8 97.0
39                  Florida ' 90.5 95.7
40                  Georgia ' 83.7 93.0
41                 Illinois ' 83.3 90.7
42                Tennessee ' 80.0 95.3
43                    Texas ' 80.0 93.3
44               California ' 78.6 91.4
45                San Diego ' 75.0 87.7
46                  Houston ' 75.0 85.6
47                  Arizona ' 66.7 90.4
48                Washington ' 63.6 95.1
Name: 0, dtype: object

In [43]:
file[0][0].split("'")

['Utah ', ' 100.0 100.0']

In [48]:
final = []
for i in range(len(file)):
    vals = file[0][i].split("'")
    temp = []
    temp.append(vals[0])
    tt = vals[1].split(' ')
    print(tt)
    temp.append(tt[1])
    temp.append(tt[2])
    final.append(temp)

['', '100.0', '100.0']
['', '100.0', '97.1']
['', '100.0', '96.2', '']
['', '100.0', '92.6', '']
['', '100.0', '91.7', '']
['', '100.0', '89.5', '']
['', '83.3', '94.3', '']
['', '0.0', '100.0', '']
['', '0.0', '89.5', '']
['', '0.0', '88.2', '']
['', '0.0', '70.0']
['', '100.0', '98.0', '']
['', '100.0', '96.9', '']
['', '100.0', '96.9']
['', '100.0', '94.4', '']
['', '100.0', '94.2', '']
['', '90.0', '99.2', '']
['', '87.5', '96.5', '']
['', '85.7', '94.4', '']
['', '83.3', '85.9', '']
['', '80.0', '96.7', '']
['', '80.0', '94.6', '']
['', '80.0', '89.1', '']
['', '75.0', '98.8', '']
['', '75.0', '83.6', '']
['', '72.7', '93.1']
['', '66.7', '67.8']
['', '50.0', '85.4', '']
['', '33.3', '86.5', '']
['', '0.0', '96.2']
['', '100.0', '97.5', '']
['', '100.0', '95.9', '']
['', '100.0', '95.1', '']
['', '100.0', '95.0', '']
['', '100.0', '94.0', '']
['', '100.0', '91.8', '']
['', '100.0', '91.3', '']
['', '94.1', '94.1', '']
['', '93.8', '97.0', '']
['', '90.5', '95.7', '']
['', '83.7', '93.0', '']
['', '83.3', '90.7', '']
['', '80.0', '95.3', '']
['', '80.0', '93.3', '']
['', '78.6', '91.4', '']
['', '75.0', '87.7', '']
['', '75.0', '85.6', '']
['', '66.7', '90.4', '']
['', '63.6', '95.1']

In [49]:
final

[['Utah ', '100.0', '100.0'],
 ['New Mexico ', '100.0', '97.1'],
 ['Oklahoma ', '100.0', '96.2'],
 ['District of Columbia ', '100.0', '92.6'],
 ['Maine ', '100.0', '91.7'],
 ['Wisconsin ', '100.0', '89.5'],
 ['Kansas ', '83.3', '94.3'],
 ['Nebraska ', '0.0', '100.0'],
 ['Delaware ', '0.0', '89.5'],
 ['Baltimore ', '0.0', '88.2'],
 ['North Dakota ', '0.0', '70.0'],
 ['Connecticut ', '100.0', '98.0'],
 ['Nevada ', '100.0', '96.9'],
 ['South Carolina ', '100.0', '96.9'],
 ['Indiana ', '100.0', '94.4'],
 ['Minnesota ', '100.0', '94.2'],
 ['Hawaii ', '90.0', '99.2'],
 ['Oregon ', '87.5', '96.5'],
 ['Alaska ', '85.7', '94.4'],
 ['San Francisco ', '83.3', '85.9'],
 ['Kentucky ', '80.0', '96.7'],
 ['Alabama ', '80.0', '94.6'],
 ['Mississippi ', '80.0', '89.1'],
 ['Michigan ', '75.0', '98.8'],
 ['Arkansas ', '75.0', '83.6'],
 ['Chicago ', '72.7', '93.1'],
 [' Philadelphia ', '66.7', '67.8'],
 ['Louisiana ', '50.0', '85.4'],
 ['Missouri ', '33.3', '86.5'],
 ['Colorado ', '0.0', '96.2'],
 ['North Carolina ', '100.0', '97.5'],
 ['Virginia ', '100.0', '95.9'],
 ['New York ', '100.0', '95.1'],
 ['New Jersey ', '100.0', '95.0'],
 ['Ohio ', '100.0', '94.0'],
 ['Massachusetts ', '100.0', '91.8'],
 ['Maryland ', '100.0', '91.3'],
 ['Los Angeles ', '94.1', '94.1'],
 ['New York City ', '93.8', '97.0'],
 ['Florida ', '90.5', '95.7'],
 ['Georgia ', '83.7', '93.0'],
 ['Illinois ', '83.3', '90.7'],
 ['Tennessee ', '80.0', '95.3'],
 ['Texas ', '80.0', '93.3'],
 ['California ', '78.6', '91.4'],
 ['San Diego ', '75.0', '87.7'],
 ['Houston ', '75.0', '85.6'],
 ['Arizona ', '66.7', '90.4'],
 ['Washington ', '63.6', '95.1']]

In [51]:
pd.DataFrame(final).to_csv('tb-data.csv')

In [52]:
!ls

LineChart.csv                p4-d2.csv
area                         p4-final.csv
area.csv                     p4-script.py
bubblechart.json             preprocessing_notebook.ipynb
choropleth_data.csv          sankey-data.json
cities.csv                   stacked-bar-chart.csv
demo.csv                     stacked-bar-chart.json
diabetes.csv                 stacked-bar-chart3.csv
heart-disease.csv            stacked.json
heatmap.json                 tabledata.json
p1-d1.csv                    tb-data.csv
p2-d1.csv                    us.json
p2-d2.csv                    usmap.json
p4-d1.csv

In [4]:
import json

with open('bubblechart.txt') as json_file:
    data = json.load(json_file)

JSONDecodeError: Unexpected UTF-8 BOM (decode using utf-8-sig): line 1 column 1 (char 0)